/vendor/
/lib/
/build/
/testdata/
src/*.lua
tests/*.lua
config.lua
/result
/result-*
/packaging/flatpak/diapo-src.tar.gz
/packaging/flatpak/build/
.flatpak-builder/
/result-appimage
*.AppImage
*.flatpak
